h1 {
    color: lawngreen;
    font-family: Verdana;
    text-align: center;
    
}

body {
    background-color:rgb(218, 61, 61);
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: white;
}

.items {
    display: flex;
    justify-content: space-around;
}